data/*
figures/*

!data/voc07_train.json
!data/voc07_val.json

runs/
*.pth

detection/mAP/
detection/detection_logs/
detection/detection_logs_overfit/
detection/detection_logs_full/
detection/mAP_output/
detection/fcos_detector.pt

__pycache__/
*.pyc
.DS_Store
q2_train.log
q3_train.log
runs_q2/
tsne_features.npz
